* {
    font-family: "Lobster", cursive;
    font-weight: 100;
    font-size: 30px;
}

div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: inline-block;
}

.caja3{
     border: 5px solid red;
}