*{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Alkalami', serif;
    font-family: 'Noto Sans HK', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 100;
}

.contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    color: blue;
}